<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= alpaca.name %></h1>
    <p><img src="<%= alpaca.image %>" alt=""></p>
    <p><%= alpaca.bio %></p>
  </body>
</html>
